body {
	font-family: 'Open sans', sans-serif;
}

#header {
	color: white;
}

.header {
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 20px;

}


.menu {
	display: flex;
	align-items: center;
}

.menu a {
	font-size: 24px;
	color: white;
	text-decoration: none;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.menu li {
	margin-left: 20px;
}

table {
	max-width: 1000px;
	margin: 0 auto;
	background-color: white;
}

th,
td {
	text-align: left;
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #4CAF50;
	color: white;
}

.bold {
	font-weight: bold;
}

.capitalize {
	text-transform: capitalize;
}

p {
	text-align: center;
	font-size: 24px;
}

.background {
	position: fixed;
	z-index: -2;
	min-height: 100vh;
	min-width: 100vw;
	pointer-events: none;
	top: 0;
	left: 0;
	filter: brightness(30%);
}

#infoPage {
	width: 50%;
	margin: 0 auto;
	color: white;

}